@font-face {
  font-family: 'MainFontRegular';
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MainFontBold';
  src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MainFontBlack';
  src: url('../../public/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: bolder;
}

/*Font weight*/
.main-font-regular {
  font-family: 'MainFontRegular';
}

.main-font-bold {
  font-family: 'MainFontBold';
}

.main-font-black {
  font-family: 'MainFontBlack';
}

/* Font size*/
.font-small {
  font-size: 1rem;
}