/* Variables definition*/
:root {
  --main-color: #DCD6B5;
  --accent-color: #146879;
  --low-oppacity-accent-color: #14687947;
}

/* Global CSS*/
body {
    background-color: var(--main-color);
    font-family: 'MainFontRegular';
    font-size: 1.438em;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

p {
    margin: 0;
}