---

---
<div id="site-title" class="flex">
    <svg>
        <use href="../../public/images/logo.svg" class="logo"></use>
    </svg>
    <div class="text">
        <p class="main-font-black">Eli Vercollier</p>
        <p class="font-small">Thérapeute Reiki<br/>Nancy et à distance</p>
    </div>
</div>

<style>
    .flex {
        display: flex;
        align-items: center;
    }

    #site-title {
        height: 130px;
    }

    #site-title > svg {
        height: 56%;
        max-width: 67px;
        margin: 0 32px;
    }

    .logo {
       fill: var(--accent-color); 
    }

    .text {
        color: var(--accent-color);
    }

    .text > p:first-child {
        margin-bottom: 0.5rem;
    }
</style>