---
// import
import "../styles/normalize.css";
import "../styles/fonts.css";
import "../styles/global.css";

import Navigation from "../components/Navigation/Navigation.astro";

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="..." />
		<title>Eli Vercollier - Thérapeute reiki Nancy</title>
	</head>
	<body>
		<Navigation />
		<div class="cropped-image"></div>
		<div  class="content">
			<slot/>
		</div>
	</body>
</html>

<style>
	.cropped-image {
		width: 36%;
		height: 100vh;
		background-image: url('../../public/images/reiki-illustration.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		clip-path:ellipse(71% 65% at 71% 50%);
		position: absolute;
		top: 0px;
		right: 0px;
	}


	.content {
		margin-right: 36%;
	}
</style>